<ul class="nav">
  <li class="divider-vertical"></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Cadastrar', new_user_registration_path %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Contato', '#' %></li>
  <li class="divider-vertical"></li>        
</ul>