<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para recuperar sua senha, e você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou isso, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada desde que você não acesse o link acima e o faça.</p>
